<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <p>L8RYO requires a Pocket account to store the links:</p>
  <a href='https://getpocket.com/auth/authorize?request_token=<%= code %>&redirect_uri=<%= redirect_uri %>'>kek</a>
</body>
</html>
