<!DOCTYPE html>
<html>
<head>
	<!--[if IE]><script>window.location='http://youtu.be/BROWqjuTM0g'</script><![endif]-->
	<meta charset="UTF-8">
	<title>L8RYO</title>
	<meta name="viewport" content="user-scalable=0, initial-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content=translucent-"black">
</head>
<body>
  <p>You linked your Pocket acount to L8RYO!</p>
  <p>Yo @ L8RYO to get a random link from your unread list.</p>
  <p>Yo a link @ L8RYO to add it to your article list on Pocket.</p>
</body>
</html>
